@font-face {
    font-family: 'akwilo';
    font-style: normal;
    src: url('../fonts/akwilo.woff') format('woff');
}

@font-face {
    font-family: 'museo';
    font-style: normal;
    src: url('../fonts/MuseoSansDisplay-Light.woff') format('woff');
}