.form-el {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.form-el__field {
    min-width: 365px;
    padding: 5px 15px;
    font-size: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    border: 5px solid #ccc;
}

.form-el__field:focus + .form-el__label {
    top: -29px;
}

.form-el__label {
    color: #1119;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 500;
    transition: 350ms;
    background: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 15px;
    font-size: 35px;
}

.form-el__add-button {
    padding: 3px 15px;
    background-color: #4CAF50;
    color: #fff;
    /* font-weight: 900; */
    font-size: 30px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    /* text-align: center; */
}