* {
    margin: 0;
    padding: 0;
    /* font-family: 'font', sans-serif; */
    /* font-weight: bolder; */
    letter-spacing: 6px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    background: linear-gradient(90deg, #345, #789);
}