body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 35px;
    background: linear-gradient(45deg, #345, #789);
    margin: 0;
    user-select: none;
}