body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
   background-color: #ddd;
   margin: 0;
}

form {
   width: 500px;
   display: flex;
   flex-direction: column;
   background: linear-gradient(45deg, #000, #777);
   color: #fff;
   padding: 15px;
   border-radius: 5px;
   box-shadow: -4px -4px 4px #333, 4px 4px 4px #fff;
}

h1 {
   margin: 0;
}

button,
input {
   padding: 10px;
   font-size: 30px;
}

input {
   outline-color: #111;
}

.add-btn {
   text-transform: uppercase;
   color: white;
   background-color: #333;
   border: none;
}

form>*:not(:last-child) {
   margin-bottom: 10px;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

li {
   padding: 10px;
   padding-left: 20px;
   border-radius: 4px;
   display: flex;
   align-items: center;
   letter-spacing: 2px;
   justify-content: space-between;
}

li:not(:last-child) {
   margin-bottom: 5px;
}

li:nth-child(even) {
   background: linear-gradient(45deg, rgba(255, 99, 71, 0.7), rgba(255, 255, 0, 0.7));
}

li:nth-child(odd) {
   background: linear-gradient(45deg, rgba(0, 255, 255, 0.7), rgba(30, 143, 255, 0.7));
}

.done {
   text-decoration: line-through;
}

.del-btn {
   background-color: transparent;
   border: none;
   position: relative;
   width: 20px;
   height: 20px;
}

.del-btn::after {
   content: '';
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: tomato;
   top: 0;
   left: 0;
   clip-path: polygon(15% 0, 0 15%, 35% 50%, 0 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0, 50% 35%);
}